.btn{
    background: #765F4F;
    color: white;
    border: none;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
}

.top-img{
    width: 100%;
    height: 20rem;
}

.card-text{
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-h1{
    font-family: 'Cardo', serif;
    font-size: 1.5rem;
}