*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: unset;
}

a:visited{
    text-decoration: none;
    color: unset;
}